@import "./sass-variables.sass"

.footerContainer
    display: flex
    margin-top: 55px

.footerItem
    width: 50%

.footerElement
    color: $cdark
    background-color: $cmain
    margin: 20px
    margin-top: 0px
    padding: 25px
    box-shadow: $smain

.contact
    color: $clight
    background-color: $cdark
