@import "./sass-variables.sass"

.footerContainer
    display: flex

.footerItem
    width: 50%

.footerElement
    color: $cdark
    background-color: $cmain
    margin: 25px
    padding: 25px
    box-shadow: $smain

.contact
    color: azure
    background-color: $cdark

@media (max-width: 1000px)
    .footerContainer
        display: flex
        flex-direction: column

    .footerItem
        width: 100%

    .footerElement
        color: $cdark
        background-color: $cmain
        margin: 25px 0px
        padding: 25px

    .contact
        color: azure
        background-color: $cdark