.footerContainer
    display: flex

.footerItem
    width: 50%

.footerElement
    color: #333333
    background-color: #43d8c9
    margin: 25px
    padding: 25px

.contact
    color: azure
    background-color: #333333

@media (max-width: 1000px)
    .footerContainer
        display: flex
        flex-direction: column

    .footerItem
        width: 100%

    .footerElement
        color: #333333
        background-color: #43d8c9
        margin: 25px 0px
        padding: 25px

    .contact
        color: azure
        background-color: #333333