@import "./sass-variables.sass"

@mixin homeItem
    width: 230px
    height: 230px
    font-size: 30px
    margin: 20px
    display: flex

    span
        margin: auto

.homeItems
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 20px

    a
        text-decoration: none

    .homeLink
        @include homeItem
        background: $cmain
        color: $cdark
        cursor: pointer
        transition: 0.3s
        box-shadow: $smain

        &:hover
            background: $chover
            color: $clight

    .homeTitle
        @include homeItem
        color: $clight
        background: $cdark
        font-size: 20px

@media(max-width: 1200px)
    .homeItems
        // display: flex
        // flex-wrap: wrap
        // justify-content: center
        // margin-top: 20px

        a
            // text-decoration: none

        .homeLink
            // @include homeItem
            // background: $cmain
            // color: $cdark
            // cursor: pointer
            // transition: 0.3s
            // box-shadow: $smain
            width: 170px
            height: 170px
            font-size: 25px

            &:hover
                // background: $chover
                // color: $clight

        .homeTitle
            @include homeItem
            width: 170px
            height: 170px
            // color: $clight
            // background: $cdark
            font-size: 20px

@media(max-width: 600px)
    .homeItems
        // display: flex
        // flex-wrap: wrap
        // justify-content: center
        // margin-top: 20px

        a
            // text-decoration: none

        .homeLink
            // @include homeItem
            // background: $cmain
            // color: $cdark
            // cursor: pointer
            // transition: 0.3s
            // box-shadow: $smain
            width: 120px
            height: 120px
            font-size: 20px
            margin: 10px

            &:hover
                // background: $chover
                // color: $clight

        .homeTitle
            // @include homeItem
            width: 120px
            height: 120px
            text-align: center
            // // color: $clight
            // // background: $cdark
            font-size: 15px
            margin: 10px