@import "./sass-variables.sass"

.socialComponent
    display: flex
    margin-top: 10px

    button
        display: flex
        width: 40px
        height: 40px
        background-color: $cmain
        justify-content: center
        align-items: center
        margin: 25px 5px 0px 25px
        border: none
        cursor: pointer
        outline: none

    i
        text-decoration: none
        color: $cdark
        font-size: 30px