.socialComponent
    display: flex

    button
        display: flex
        width: 40px
        height: 40px
        background-color: #43d8c9
        justify-content: center
        align-items: center
        margin: 25px 5px 15px 25px
        border: none
        cursor: pointer
        outline: none

    i
        text-decoration: none
        color: #333333
        font-size: 30px