*
    // text-align: center
    // font-family: 'Lato', sans-serif
    font-family: 'Signika', sans-serif
    box-sizing: border-box

.App
    width: 100vw
    margin: auto

.mainContainer
    width: 80%
    margin: auto